.benefits-header
 display: flex
 justify-content: center
 align-items: center
 flex-direction: column
 &>h3.subtitle
  margin: 14px 0px 20px 0
 &>p.description
  width: 45%
  text-align: center
.benefits-grid
 display: flex
 margin: 97px 0px 78px 0px
 &__block
  text-align: center
  flex: 1
  margin-right: 5%
  &:last-child
   margin-right: 0
 &__icon
  max-height: 70px
 &__title
  margin: 42.5px 0px 20px 0
  font-size: 20px
  font-weight: 600
  line-height: 25px
  color: $c-active
 &__desc
  font-size: 15px
  font-weight: 400
  line-height: 20px
  color: $c-sec
.benefits-button
 display: flex
 justify-content: center
 &>a
  @include font($size: 15px, $weight: 700)
   text-transform: uppercase
   &:hover
    color: $c-normal
  @include thirdButton()
