.contacts
 background-color: #fafafa
 padding: 50px 0px 100px 0px
 &-header
  display: flex
  flex-direction: column
  width: 50%
  margin: 0 auto
  &>p.description
   margin-top: 30px
   color: $c-active
textarea.contacts-form__input
 resize: none
.contacts-form
 @include layout(1, 5%, center)
  flex-direction: column
  align-items: center
  margin-top: 50px
 &__input
  border-radius: 5px
  padding: 20px
  border: 1px solid $c-active
  transition: all .25s linear
  background-color: transparent
  width: 100%
  &::-webkit-input-placeholder
   color: $c-active
   font-family: 'Raleway', sans-serif
   font-size: 14px
   font-weight: 500
   line-height: 30px
  &:focus
   transition: all .25s linear
   border-color: #1de9b6
   outline: none
 &__block
  @include layout(2, 5%)
   width: 100%
   align-items: center
   &:last-child>*
    flex-basis: auto
  &:nth-child(3)
   &>.contacts-form__inner:first-child
    flex-basis: 100%
    margin-right: 0
  &:last-child
   justify-content: space-between
 &__label
  color: $c-active
  cursor: pointer
  font-size: 15px
  font-weight: 500
 &__checkbox
  margin: 0px 10px 0px 0px
  cursor: pointer
 &__wrapper
  display: flex
  align-items: center
 &__submit
  border: none
  @extend %_button
  +uButton($c-normal, #1de9b6, 10px 42px)
  &:hover
   color: $c-normal
   background-color: darken(#1de9b6, 15%)
  @include font(16px, $weight: 500)
   line-height: 30px
