@mixin custom-scroll($color, $color-hover)
 ::-webkit-scrollbar-button
  background-image: url('')
  background-repeat: no-repeat
  width: 5px
  height: 0px

 ::-webkit-scrollbar-track
  background-color: transparent

 ::-webkit-scrollbar-thumb
  -webkit-border-radius: 0px
  border-radius: 0px
  background-color: $color

 ::-webkit-scrollbar-thumb:hover
  background-color: $color-hover

 ::-webkit-resizer
  background-image: url('')
  background-repeat: no-repeat
  width: 5px
  height: 0px

 ::-webkit-scrollbar
  width: 5px

@mixin font($size:14px, $color:#000, $weight:400, $align:left)
 font-size: $size
 font-weight: $weight
 @content text-align: $align
 @content color: $color
