
@mixin font($size:14px, $color: $c-normal, $weight:400, $align:left) // Шрифтов
 font-size: $size
 font-weight: $weight
 text-align: $align
 color: $color
 @content

@mixin layout($col, $m: 0%, $pos: none) // Разметка
 // Родительский элемент
 display: flex
 flex-wrap: wrap
 @if $pos==center // Выровнять по центру
  margin: 0 auto
  width: 50%
 &>* // Дочерние элементы
  display: flex
  flex-basis: ((100% - (($col - 1) * $m )) / $col)
  margin: 0 $m $m 0
  &:nth-child(#{$col}n) // Удаление отступа у последнего элемента
   margin-right: 0
  @if $col >= 2 // Если это последний элемент в сетке, убрать отступ вниз
   @while $col != 0
    &:nth-last-child(#{$col})
     margin-bottom: 0
    $col: $col - 1
  @else
   &:first-child
    margin-bottom: $m
   &:last-child
    margin-bottom: 0
 @content

%_button
 border-radius: 5px
 text-transform: uppercase
 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15)
 transition: all .5s linear
 cursor: pointer
 &:hover  
  transition: all .5s linear

@mixin uButton($c: $c-normal, $bgc: $c-active, $p...)
 padding: $p
 color: $c
 background-color: $bgc
 @content
 &:hover
  color: $bgc
  background-color: $c
  @content
 &:active
  background-color: darken($bgc, 15%)

%_myBgExample
 overflow-x: hidden
 position: relative
 &::before
  display: block
  content: ''
  position: absolute
  z-index: -1
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
 &::after
  display: block
  content: ''
  position: absolute
  top: 0
  background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%)
  height: 100%
  overflow-x: hidden
  width: 100vw
  z-index: -1

@mixin myBg($min-height, $bgc: $c-active, $opacity: 0.7)
 min-height: $min-height
 &::after
  opacity: $opacity
  background-color: $bgc
 &::before
  @content
// Для эксперементов
// .test-layout
//  display: flex
//  @include font($align: center) 
//  @include layout($col: 2, $m: 5%)
//  &>div
//   height: 50px
//   background-color: #000
//   text-align: center
//   justify-content: center
//   align-items: center
